<div class="wc-main-body">
	<div data-scroll class="page">
		<main>
			<div class="content">
				<section class="wp-blog-two-section item">
					<div class="container">
						<div class="col-12 border_full_width_top">
							<h2 class="sub_title">Latest blog<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h2>
							<div class="wp-blog-post2-wrapper">
								<div class="wp-blog-post2-row">
									{{ collection:blogs sort="date:desc" as="posts" }}
									{{ posts }}
									<div class="wp-blog-post2 js-blog-card{{ if count > 6 }} is-hidden{{ /if }}" data-aos="fade-up" data-aos-duration="1000">
										<div class="wp-blog-post2-img img-cover">
											<a href="{{ url }}"><img src="{{ image:url ?? '/assets/images/blog1.jpg' }}" alt="{{ title }}"></a>
										</div>
										<div class="wp-blog-post2-content">
											<h6>{{ date format="d, F Y" }}</h6>
											<h5>{{ title }}</h5>
											<div class="wp-blog-post2-btn">
												<a class="btn-primary btn" href="{{ url }}">Read More<span><img src="/assets/images/btn-arrow.png" alt=""></span></a>
											</div>
										</div>
									</div>
									{{ /posts }}
									{{ /collection:blogs }}
								</div>
								{{ collection:blogs as="posts" }}
								{{ if total_results > 6 }}
								<div class="latest_btn">
									<a class="btn-primary btn js-load-more" href="javascript:;" data-cards=".js-blog-card" data-batch="3">LOAD MORE<span><img src="/assets/images/btn-arrow.png" alt=""></span></a>
								</div>
								{{ /if }}
								{{ /collection:blogs }}
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
	</div>
</div>

<div class="cursor">
	<div class="cursor__inner cursor__inner--circle"></div>
	<div class="cursor__inner cursor__inner--dot"></div>
</div>
