<div class="wc-main-body">
		<div data-scroll class="page">
			<main>
				<div class="content">

					<!-- close-wp-social-post-section -->
					<section class="wp-social-post-section wp-social-post-page-section border_full_width_top">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<h2 class="sub_title" data-aos="fade-up" data-aos-duration="1000">Latest News<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h2>
									<div class="wp-social-post-wrapper">
										<div>
											{{ collection:news sort="date:desc" as="posts" }}
											{{ posts }}
											<div class="wp-social-post js-news-card{{ if count > 6 }} is-hidden{{ /if }}" data-aos="fade-up" data-aos-duration="1000">
												<div class="wp-social-post-btn">
													<p>{{ date format="d, F Y" }}</p>
													<a class="btn-primary btn" href="{{ url }}">Read More<span><img src="/assets/images/btn-arrow.png" alt=""></span></a>
												</div>
												<div class="wp-social-post-content">
													<p>{{ title }}</p>
												</div>
											</div>
											{{ /posts }}
											{{ /collection:news }}
										</div>
										{{ collection:news as="posts" }}
										{{ if total_results > 6 }}
										<div class="latest_btn">
											<a class="btn-primary btn js-load-more" href="javascript:;" data-cards=".js-news-card" data-batch="3" data-aos="fade-up" data-aos-duration="1000">Load more<span><img src="/assets/images/btn-arrow.png" alt=""></span></a>
										</div>
										{{ /if }}
										{{ /collection:news }}
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- close-wp-social-post-section -->

				</div>
			</main>
		</div>
	</div>

	<div class="cursor">
		<div class="cursor__inner cursor__inner--circle"></div>
		<div class="cursor__inner cursor__inner--dot"></div>
	</div>
