<div class="wc-main-body">
		<div data-scroll class="page">
			<main>
				<div class="content">

					<!-- start-wp-service-section -->
					<section class="wp-service-page-section">
						<div class="container">
							<div class="col-12 border_full_width_top">
								<h2 class="sub_title" data-aos="fade-up" data-aos-duration="1000">Services<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h2>
								<div class="wp-service-page-wrap border_full_width_bottom">
									{{ collection:services sort="title:asc" }}
									<div class="wp-service-page-box border_full_width_bottom content__item">
										<div class="wp-service-page-btn">
											<div class="content__item-title">
												<h4><a href="{{ url }}">{{ count }}. {{ title }}</a></h4>
											</div>
										</div>
										<div class="wp-service-page-content">
											<div class="img-cover" data-aos="fade-up" data-aos-duration="1000">
												<a href="{{ url }}">
													<img class="content__item-img" src="{{ image:url ?? '/assets/images/images-12.jpg' }}" alt="{{ title }}">
												</a>
											</div>
											<h5 data-aos="fade-up" data-aos-duration="1000"><a href="{{ url }}">{{ count }}.{{ title }}</a></h5>
											<p data-aos="fade-up" data-aos-duration="1000">{{ excerpt }}</p>
										</div>
									</div>
									{{ /collection:services }}
								</div>
							</div>
						</div>
					</section>

					<section class="wp-service-working-process-section border_full_width_top item">
						<div class="container">
							<div class="col-12">
								<h2 class="sub_title" data-aos="fade-up" data-aos-duration="1000">watch our working process<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h2>
								<div class="wp-service-working-process" data-aos="flip-up" data-aos-duration="1000">
									<div class="wp-service-working-process-img img-cover">
										<img class="item__img" src="/assets/images/images-16.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- close-wp-service-section -->

				</div>
			</main>
		</div>
	</div>

	<div class="cursor">
		<div class="cursor__inner cursor__inner--circle"></div>
		<div class="cursor__inner cursor__inner--dot"></div>
	</div>
