<div class="wc-main-body">
	<div data-scroll class="page">
		<main>
			<div class="content">
				<section class="wp-team-page-section">
					<div class="container">
						<div class="col-12 border_full_width_top">
							<h2 class="sub_title">
								Our team
								<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span>
							</h2>
							<div class="wp-team-wrapper">
								{{ collection:team sort="date:asc" }}
								<div class="wp-team-box js-team-card{{ if count > 6 }} is-hidden{{ /if }}">
									<a href="{{ url }}" class="team-popup-one"></a>
									<div class="wp-team-img" data-aos="flip-up" data-aos-duration="1000">
										<img src="{{ image:url ?? '/assets/images/team1.jpg' }}" alt="{{ title }}">
									</div>
									<div class="wp-team-content">
										<h4><a href="{{ url }}">{{ title }}</a></h4>
										<p>{{ role ?? 'Web Designer' }}</p>
										<div class="wp-social-icon">
											<ul>
												<li><a href="javascript:;"><i class="fa-brands fa-twitter"></i></a></li>
												<li><a href="javascript:;"><i class="fa-brands fa-instagram"></i></a></li>
												<li><a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								{{ /collection:team }}
							</div>
							{{ collection:team as="members" }}
							{{ if total_results > 6 }}
							<div class="wp-team-btn">
								<a class="btn-primary btn js-load-more" data-cards=".js-team-card" data-batch="3" data-aos="fade-up" data-aos-duration="1000" href="javascript:;">LOAD MORE<span><img src="/assets/images/btn-arrow.png" alt=""></span></a>
							</div>
							{{ /if }}
							{{ /collection:team }}
						</div>
					</div>
				</section>
			</div>
		</main>
	</div>
</div>

<div class="cursor">
	<div class="cursor__inner cursor__inner--circle"></div>
	<div class="cursor__inner cursor__inner--dot"></div>
</div>
