<div class="wc-main-body">
	<div data-scroll class="page">
		<main>
			<div class="content">
				<section class="error-page-section">
					<div class="container">
						<div class="row">
							<div class="error-content-box">
								<div class="error-shape">
									<h6 data-aos="zoom-in" data-aos-duration="1000">404</h6>
									<div class="error-btn" data-aos="fade-up" data-aos-duration="1000">
										<a class="btn-primary btn" href="/">Go Back<span><img src="/assets/images/btn-arrow.png" alt=""></span></a>
									</div>
								</div>
								<div class="error-content">
									<h3 class="description" data-aos="fade-up" data-aos-duration="1000">We’re Sorry,the page you requested could not be found please go back to home</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="birds front">
						<div class="bird b1"><div class="wing1"></div></div>
						<div class="bird b2"><div class="wing1"></div></div>
						<div class="bird b3"><div class="wing1"></div></div>
						<div class="bird b4"><div class="wing1"></div></div>
						<div class="bird b5"><div class="wing1"></div></div>
						<div class="bird b6"><div class="wing1"></div></div>
						<div class="bird b7"><div class="wing1"></div></div>
						<div class="bird b8"><div class="wing1"></div></div>
						<div class="bird b9"><div class="wing1"></div></div>
						<div class="bird b10"><div class="wing1"></div></div>
						<div class="bird b11"><div class="wing1"></div></div>
						<div class="bird b12"><div class="wing1"></div></div>
					</div>
				</section>
			</div>
		</main>
	</div>
</div>
<div class="cursor">
	<div class="cursor__inner cursor__inner--circle"></div>
	<div class="cursor__inner cursor__inner--dot"></div>
</div>
