<header class="header">
    <div class="container border_full_height_left border_full_height_right">
        <div class="row">
            <div class="col-12">
                <div class="header-contant">
                    <div class="logo-content">
                        <a href="/"><img src="/assets/images/logo.png" alt="Design Studio"></a>
                    </div>
                    <ul class="manu-bar">
                        {{ nav:header_menu }}
                        <li><a href="{{ url }}"{{ if is_current || is_parent }} class="active"{{ /if }}>{{ title }}</a></li>
                        {{ /nav:header_menu }}
                    </ul>
                    <ul class="search-cart-bar">
                        <li class="light_and_dark_themes">
                            <a href="javascript:;">
                                <i class="fa-solid fa-moon"></i>
                                <i class="fa-solid fa-sun"></i>
                            </a>
                        </li>
                        <li class="search-btn">
                            <input class="search-icon" type="checkbox" id="search-icon" name="search-icon">
                            <label for="search-icon"></label>
                            <div class="search-box">
                                <form class="search-log" action="/news" method="get">
                                    <div class="marquee-wrapper">
                                        <div class="marquee-inner">
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            <h6 class="t-button">DESIGN STUDIO</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="search" name="q" class="input-form" placeholder="Search here... ">
                                        <button type="submit"><img src="/assets/images/search.svg" alt=""></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="mobile-menu-icon">
                            <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon">
                            <label for="menu-icon"></label>
                            <nav class="nav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/home-two">Home Two</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="/project">Project</a></li>
                                    <li><a href="/news">News</a></li>
                                    <li><a href="/team">Team</a></li>
                                    <li><a href="/pricing">Pricing</a></li>
                                    <li><a href="/career">Career</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
