<header class="header">
    <div class="container border_full_height_left border_full_height_right">
        <div class="row">
            <div class="col-12">
                <div class="header-contant">
                    <div class="logo-content">
                        <a href="/">
                            {{ partial:partials/media-url :file="setting:logo" fallback="images/logo.png" }}
                            {{ if logo_url }}<img src="{{ logo_url }}" alt="{{ setting:site_name ?? 'Design Studio' }}">{{ /if }}
                        </a>
                    </div>
                    <ul class="manu-bar">
                        {{ nav:header_menu }}
                        <li>
                            {{ if children }}
                            <a href="{{ url }}"{{ if is_current || is_parent }} class="active"{{ /if }}>{{ title }}</a>
                            <ul>
                                {{ children }}
                                <li><a href="{{ url }}"{{ if is_current }} class="active"{{ /if }}>{{ title }}</a></li>
                                {{ /children }}
                            </ul>
                            {{ else }}
                            <a href="{{ url }}"{{ if is_current || is_parent }} class="active"{{ /if }}>{{ title }}</a>
                            {{ /if }}
                        </li>
                        {{ /nav:header_menu }}
                    </ul>
                    <ul class="search-cart-bar">
                        <li class="light_and_dark_themes">
                            <a href="javascript:;">
                                <i class="fa-solid fa-moon"></i>
                                <i class="fa-solid fa-sun"></i>
                            </a>
                        </li>
                        <li class="search-btn">
                            <input class="search-icon" type="checkbox" id="search-icon" name="search-icon">
                            <label for="search-icon"></label>
                            <div class="search-box">
                                <form class="search-log" action="/news" method="get">
                                    <div class="marquee-wrapper">
                                        <div class="marquee-inner">
                                            {{ loop from="1" to="12" }}
                                            <h6 class="t-button">{{ setting:site_name ?? 'DESIGN STUDIO' }}</h6><div class="delimiter"><img src="/assets/images/star-shape-2.png" alt=""></div>
                                            {{ /loop }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="search" name="q" class="input-form" placeholder="Search here... ">
                                        <button type="submit"><img src="/assets/images/search.svg" alt=""></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="mobile-menu-icon">
                            <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon">
                            <label for="menu-icon"></label>
                            <nav class="nav">
                                <ul>
                                    {{ nav:header_menu }}
                                    <li>
                                        <a href="{{ url }}">{{ title }}</a>
                                        {{ if children }}
                                        <ul>
                                            {{ children }}
                                            <li><a href="{{ url }}">{{ title }}</a></li>
                                            {{ /children }}
                                        </ul>
                                        {{ /if }}
                                    </li>
                                    {{ /nav:header_menu }}
                                </ul>
                            </nav>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
