<div class="loader-section loader--active">
    <div class="wrapper">
        <div class="loader">
            <div class="inner">
                <div class="loader-logo-text">
                    <span class="loader-logo"><img src="/assets/images/loader-logo.png" alt=""></span>
                </div>
                <div class="loader-text">
                    <span>D</span><span>E</span><span>S</span><span>I</span><span>G</span><span>N</span>
                    <span>S</span><span>T</span><span>U</span><span>D</span><span>I</span><span>O</span>
                </div>
            </div>
        </div>
    </div>
</div>
