<!-- cta_ready section -->
<section class="wp-are-you-ready-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wp-are-you-ready-content">
                    <h3 data-aos="fade-right" data-aos-duration="1000">{{ heading ?? 'Are You Ready to work with us?' }}</h3>
                    <a class="btn-primary btn" data-aos="fade-up" data-aos-duration="1000" href="{{ button_url ?? '/contact' }}">{{ button_label ?? 'Get in touch' }}<span><img src="/assets/images/btn-arrow.png" alt=""></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
