<!-- presentation_hero section -->
<section class="home-hero-section presentation-hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-home-hero-contant border_full_width_bottom">
                    <div class="home-hero-contant">
                        <h1>{{ heading ?? 'Design Studio' }} <span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h1>
                        <h3>{{ subheading ?? 'Figma Design Template' }}</h3>
                        {{ if text }}<p>{{ text }}</p>{{ /if }}
                        <div class="hero-btn-wrapper">
                            <a class="btn-primary btn popup-youtube" href="javascript:;">{{ button_label ?? 'How We Work' }} <span><i class="fa-solid fa-play"></i></span></a>
                        </div>
                    </div>
                    {{ if image }}
                    <div class="presentation-hero-image">
                        <img src="{{ image:url }}" alt="{{ heading }}">
                    </div>
                    {{ /if }}
                </div>
            </div>
        </div>
    </div>
</section>
