<!-- testimonials_grid section (card grid layout) -->
<section class="wp-testimonial-section item">
    <div class="container">
        <div class="col-12 border_full_width_top">
            <h2 class="sub_title">{{ heading ?? 'cLIENT tRUST' }}<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h2>
            <div class="wp-testimonial-wrapper">
                {{ collection:testimonials }}
                <div class="wp-testimonial-content">
                    <div class="testimonial2-user-detail">
                        <div class="testimonial2-content">
                            <p>{{ quote ?? excerpt }}</p>
                        </div>
                        <div class="testimonial2-user-detail-box">
                            <div class="testimonial2-user-detail-sub-box">
                                <div class="testimonial2-user-img img-cover">
                                    <img src="{{ image:url ?? '/assets/images/user.png' }}" alt="{{ title }}">
                                </div>
                                <div class="testimonial2-user-name">
                                    <h5><a href="javascript:;">{{ title }}</a></h5>
                                    <h4>{{ role ?? 'Client' }}</h4>
                                </div>
                            </div>
                            <div class="testimonial2-quote">
                                <i class="fa-solid fa-quote-left"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {{ /collection:testimonials }}
            </div>
        </div>
    </div>
</section>
