<!-- testimonials_slider section (dual-swiper style) -->
<section class="testimonial-section border_full_width_top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="sub_title" data-aos="fade-up" data-aos-duration="1000">{{ heading ?? 'CLIENT tRUST' }}<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h2>
                <div class="main-testimonial-slider">
                    <div class="sub-testimonial-slider">
                        <div class="swiper mySwiper2" data-aos="zoom-in" data-aos-duration="1000">
                            <div class="swiper-wrapper">
                                {{ collection:testimonials }}
                                <div class="swiper-slide">
                                    <div class="testimonial-content">
                                        <p>"{{ quote ?? excerpt }}"</p>
                                    </div>
                                </div>
                                {{ /collection:testimonials }}
                            </div>
                        </div>
                        <div class="testimonial-user-detail">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    {{ collection:testimonials }}
                                    <div class="swiper-slide">
                                        <div class="testimonial-user-detail-box">
                                            <div class="testimonial-user-img img-cover">
                                                <img src="{{ image:url ?? '/assets/images/user.png' }}" alt="{{ title }}">
                                            </div>
                                            <div class="testimonial-user-name">
                                                <h5><a href="javascript:;">{{ title }}</a></h5>
                                                <h4>{{ role ?? 'Client' }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    {{ /collection:testimonials }}
                                </div>
                            </div>
                            <div class="testimonial-arrow">
                                <div class="swiper-button-prev" data-aos="zoom-in" data-aos-duration="1000"><i class="fa-solid fa-arrow-left-long"></i></div>
                                <div class="swiper-button-next" data-aos="zoom-in" data-aos-duration="1000"><i class="fa-solid fa-arrow-right-long"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
