<!-- text_section section -->
{{ if heading || text }}
<section class="text-section border_full_width_top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ if heading }}<h2 class="sub_title" data-aos="fade-up" data-aos-duration="1000">{{ heading }}<span class="star-shape"><img src="/assets/images/star-shape.png" alt=""></span></h2>{{ /if }}
                {{ if text }}<p data-aos="fade-up" data-aos-duration="1000">{{ text }}</p>{{ /if }}
                {{ if images }}
                <div class="text-section-images">
                    {{ images }}
                    <img src="{{ url }}" alt="" data-aos="fade-up" data-aos-duration="1000">
                    {{ /images }}
                </div>
                {{ /if }}
            </div>
        </div>
    </div>
</section>
{{ /if }}
